## 1) Write a program to find sum of all elements in a list of integers.

In [90]:
list1=[2,6,8,3,6,9,5]
sum(list1)

39

## 2)  Input a sentence as a string.  
### a) Print its length  
### b) Print the first half of string

In [92]:
str1=input("Enter a string: ")
print(len(str1))
print(str1[:len(str1)//2])

Enter a string:  jemima

6
jem

## 3) Write a program to enter a tuple of integers as (78,45,32,19,82,77,40,39). Change the third value in the tuple to 100

In [94]:
tup=(78,45,32,19,82,77,40,39)

# convert tuple to list 
lis=list(tup)
print("Original list: ",lis)
# after adding third Value 
lis[2] = 100
print("Modified list: ",lis)
# again conert it to a tuple 
tup=tuple(lis) 
print("final tuple: ",tup)

Original list:  [78, 45, 32, 19, 82, 77, 40, 39]
Modified list:  [78, 45, 100, 19, 82, 77, 40, 39]
final tuple:  (78, 45, 100, 19, 82, 77, 40, 39)

## 4)  Consider a list listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]

In [125]:
listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]

### (a) Delete the first occurrence of 32

In [128]:
listA.remove(32)
listA

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

### (b) Delete all occurrences of 40

In [131]:
listA = [x for x in listA if x != 40]
listA

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77]

### (c) Delete the value at index=5

In [134]:
del listA[5]
listA

[19, 10, 55, 31, 32, 29, 10, 65, 77]

### (d) Modify the value at index=9 as 300

In [137]:
listA.insert(9,300)
listA

[19, 10, 55, 31, 32, 29, 10, 65, 77, 300]

### (e) Add 200 at index=2

In [140]:
listA.insert(2,200)
listA

[19, 10, 200, 55, 31, 32, 29, 10, 65, 77, 300]

### (f) Print the final list with its length, maximum value and sum of all elements

In [143]:
print("length of the list is: ",len(listA))
print("Maximum value of the list is: ",max(listA))
print("sum of the list is: ",sum(listA))

length of the list is:  11
Maximum value of the list is:  300
sum of the list is:  828

## 5) Consider a string ”The day has been long”.

In [119]:
string="The day has been long"

### (a) Delete the value at index =4

In [158]:
string[:4]+string[5:]

'The ay has been long'

### (b) Print the string 4 times in a single line with space between each repetition

In [169]:
print((string+"  ")*4)

The day has been long  The day has been long  The day has been long  The day has been long

### (c) Print the string 3 times in a new line each time

In [196]:
print((string+" \n")*3)

The day has been long
The day has been long
The day has been long

### (d) Modify the string at index 7 as ’A’

In [207]:
print(string[:7]+'A'+string[8:])

The dayAhas been long

### (e) Print the string from index 4 to 15

In [212]:
print(string[4:16])

day has been

### (f) Print the final string with its length

In [231]:
print(string,"\n""length of the string is: ",len(string))

The day has been long
length of the string is:  21